.preview-pic {
	width: 100px;
	height: 100px;
	margin: 0px;
	border-radius: 6px;
	border: 1px solid rgba(226,224,255,0.3);
}

input[type='file'] {
	display: none;
}

.upload-pic {
    cursor: pointer;
    opacity: 0;
    display: block;
    height: 100px;
}